{% extends "base.html.twig" %}

{% block title %}Réinitiaisation  mot de passe{% endblock %}

{% block body %}
    <h1>Réinitiaisation de votre mot de passe</h1>
    {% include "/shared/_flashes.html.twig" %}
    {{ form_start(formView) }}
    {{ form_row(formView) }}
    <button type="submit" class="btn btn-success">Réinitialiser</button>
    {{ form_end(formView) }}
{% endblock %}