html {
    overflow-x: hidden;
    padding: 0;
}

.container {
    min-height: 75vh;
}

footer {
    background-color: #158cba;
    width: 100%;
    margin-top: 50px;
    min-height: 25vh;
}

footer h5 {
    color: white;
}

footer .link {
    color: #353535
}