<footer class="pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md ml-5">
            <img class="mb-2" src="../../assets/brand/ls.png" alt="logo" width="24" height="24">
            <small class="d-block mb-3">&copy; 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#" class="link">Cool stuff</a></li>
                <li><a href="#" class="link">Random feature</a></li>
                <li><a href="#" class="link">Team feature</a></li>
                <li><a href="#" class="link">Stuff for developers</a></li>
                <li><a href="#" class="link">Another one</a></li>
                <li><a href="#" class="link">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#" class="link">Resource</a></li>
                <li><a href="#" class="link">Resource name</a></li>
                <li><a href="#" class="link">Another resource</a></li>
                <li><a href="#" class="link">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#" class="link">Team</a></li>
                <li><a href="#" class="link">Locations</a></li>
                <li><a href="#" class="link">Privacy</a></li>
                <li><a href="#" class="link">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>
