{% extends '/bundles/TwigBundle/Exception/template_error.html.twig' %}

{% block body %}
    <div class="row align-items-center text-center">
        <div class="col-12">
            <h1>Erreur {{ status_code }}: Requête incorrecte</h1>
        </div>
        <div class="col-12">
            <p>La requête que vous avez effectué est incorrecte.</p>
        </div>
        <div class="col-12">
            <a href="{{ path("homepage") }}" class="btn btn-success">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}