{% extends '/bundles/TwigBundle/Exception/template_error.html.twig' %}

{% block body %}
    <div class="row align-items-center text-center">
        <div class="col-12">
            <h1>Erreur {{ status_code }}: Erreur interne au serveur</h1>
        </div>
        <div class="col-12">
            <p class="pt-2">Le serveur a rencontré une erreur interne, Merci de contacter l'administrateur</p>
        </div>
    </div>
{% endblock %}